body {
    display: grid;
    grid-template: auto 1fr auto / 2fr 1fr;
    height:fit-content;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: rgb(83, 146, 167);
    padding: 2em;
    
}

nav ul {
    display:flexbox;
    justify-content: space-around;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px;
}
footer {
    background: rgb(83, 146, 167);
    padding: 2em;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgb(6, 67, 121);
    padding: 2em;

}
 