@media screen and (min-width: 800px) {
    .hero{
        position: relative;
    }
    .hero img {
        height: 100vh;
        width: 100%;
        object-fit: cover;
        display:block;
    }

    .data {
        position: absolute;
        top: 5%;
        left: 3%;
        width: 280px;
    }

    .weather {
        position: absolute;
        bottom: 5%;
        right: 3%;
        width: 280px;
        background-color: aliceblue;
    }

    .weather-icon {
        display: none;
    }

    .weather-emoji {
        display: none;
    }

    .weather h2::after {
        content: " 🌞";
    
    }


}