header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}
nav {
    display: flex !important; 
    flex-direction: row;
    gap: 15px;
}
main {
    max-width: 960px;
    margin: 30px auto;
    grid-template-columns: repeat(3, 1fr);
}
#menu {
    display: none; 
}